.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    background: url("../images/card.png") no-repeat;
    background-size: 100%;
    width: 100px;
    height:150px;
    margin-top:25px; 
    margin-right: 15px;
}